.tooltip.right {
    &:before {
        bottom: 20%;
        left: 100%;
        border-right-color: #212121;
        border-top-color: rgba(0,0,0,0);
        transition: opacity 5s;
    }

    &:after {
        left: 100%;
        margin-bottom: 0;
        bottom: 50%;
        transform: translate(calc(2 * var(--universal-margin)),calc(2 * var(--universal-margin)));
        transition: opacity 5s;
    }
}
.card>.section.no-padding {
    padding: 0;
}

.input-group.no-margin>input {
    margin: 0;
}

.material-icons {
    cursor: pointer;
    opacity: 0.5;
    vertical-align: middle;
    &:hover {
        opacity: 1;
        transform: scale(1.2);
    }
}