.root-node {
    text-align: left;
    padding-left: var(--universal-margin);
}

.node-link {
    cursor: pointer;
}

.tree-node {
    line-height: 1;
    .node-content {
        &:before {
            box-sizing: border-box;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            height: 1.5em;
        }
    }
}

.tree-node>.node-children {
    padding-left: 1.5em;
}

.tree-node.expanded {
    .node-toggle {
        @include css-triangle($color: black, $direction: down, $position: relative);
        cursor: pointer;
        margin-right: 0.5em;
        display: inline-block;
    }
}

.tree-node.collapsed {
    .node-toggle {
        @include css-triangle($color: black, $direction: right, $position: relative);
        margin-right: 0.5em;
        cursor: pointer;
        display: inline-block;
    }
}
.node-content:hover {
    &:before {
        background: rgba(43, 129, 137, 0.3)
    }
}

.node-content.selected {
    &:before {
        background: rgba(13, 66, 87, 0.3)
    }
}


.tree-node.collapsed>.node-children {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    .node-content {
        &:before {
            height: 0;
        }
    }
}