.root-node {
    text-align: left;
    padding-left: var(--universal-margin);
}

// .node-link {
//     cursor: pointer;
// }

.tree-node {
    line-height: 1;
    .node-content {
        cursor: pointer;
        &:before {
            box-sizing: border-box;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            height: 1.5em;
        }
    }
}

.tree-node>.node-children {
    padding-left: 1.5em;
}

.tree-node.expanded {
    .node-toggle {
        @include css-triangle($color: black, $direction: down, $position: relative);
        cursor: pointer;
        margin-right: 0.5em;
        display: inline-block;
    }
}

.tree-node.collapsed {
    .node-toggle {
        @include css-triangle($color: black, $direction: right, $position: relative);
        margin-right: 0.5em;
        cursor: pointer;
        display: inline-block;
    }
}
.node-content:hover {
    &:before {
        // background: rgba(43, 129, 137, 0.3)
        border: 1px solid var(--card-border-color);
        // box-shadow: var(--hover-box-shadow);
    }
}

.node-content.selected {
    font-weight: bold;
    // &:before {
    //     background: rgba(13, 66, 87, 0.3);
    //     box-shadow: var(--hover-box-shadow);        
    //     border: 1px solid var(--card-border-color);
    // }
}


.tree-node.collapsed>.node-children {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    .node-content {
        &:before {
            height: 0;
        }
    }
}