<h1>Treasy Dev Warriors Challenge</h1>

<h2>{{ 'home.greeting' | translate }}</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card fluid">
                <div class="section">
                    <h3>Produtos</h3>
                </div>
                <div class="section">
                    <div class="button-group">
                        <button>Delete</button>
                        <button>Edit</button>
                        <button class="primary">Add</button>
                    </div>
                    <div class="input-group fluid">
                        <input type="text" name="nodeFilter" id="nodeFilter" ng-model="vm.nodeFilter" class="fluid" placeholder="Type the code or description of a product or category">
                    </div>
                </div>

                <div class="section">
                    <div class="root-node" ng-repeat="node in vm.productTree" ng-include="'app/templates/treenode.html'">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card fluid">
                Content
            </div>
        </div>
    </div>
</div>