<h1>Treasy Dev Warriors Challenge</h1>


<div class="row">
    <div class="col s4">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    {{ 'home.productsTreeTitle' | translate }}
                </div>
                <div class="row">
                    <div class="col s6 icon-group left">
                        <i class="material-icons" ng-click="vm.openNodeFormModal($event, 'create')">add</i>
                        <i class="material-icons" ng-click="vm.openNodeFormModal($event, 'edit')">edit</i>
                        <i class="material-icons" ng-click="vm.deleteCurrentNode()">delete</i>
                    </div>
                    <div class="col s6 icon-group right">
                        <i class="material-icons medium" ng-click="vm.expandChildren()">expand_more</i>
                        <i class="material-icons medium" ng-click="vm.collapseChildren()">expand_less</i>
                    </div>
                </div>
                <div class="input-field">
                    <input type="text" name="nodeFilter" id="nodeFilter" ng-model="vm.nodeFilter" placeholder="{{ 'home.productsFilterInputPlaceholder' | translate }}">
                </div>
                <div class="root-node" ng-repeat="node in vm.productTree" ng-include="'app/treenode/treenode.html'">
                </div>
            </div>
        </div>
    </div>
    <div class="col s8">
        <div class="card fluid">
            Content
        </div>
    </div>
</div>

<div id="nodeFormModal" class="modal">
    <div class="modal-content">
        <h3 class="modal-title">{{ (vm.nodeFormAction == 'edit' ? 'home.editProductNodeTitle' : 'home.newProductNodeTitle')  | translate }}</h3>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="node-id" class="validate" ng-model="vm.nodeForm.id" ng-disabled="vm.nodeFormAction == 'edit'"
                            required />
                        <label for="node-id">{{ 'home.newProductIdLabel' | translate }}</label>
                        <span class="helper-text" data-error="{{'home.errorRequiredField' | translate}}">{{ 'home.newProductIdPlaceholder' | translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="node-description" class="validate" ng-model="vm.nodeForm.description"
                            required />
                        <label for="node-description">{{ 'home.newProductDescriptionLabel' | translate }}</label>
                        <span class="helper-text" data-error="{{'home.errorRequiredField' | translate}}">{{ 'home.newProductDescriptionPlaceholder' |
                            translate }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="nodeaditionalinfo" class="materialize-textarea" ng-model="vm.nodeForm.aditionalInfo"></textarea>
                        <label for="nodeaditionalinfo">{{ 'home.newProductAditionalInfoLabel' | translate }}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn" ng-click="vm.submitNodeFormModal()">{{
            (vm.nodeFormAction == 'edit' ? 'home.editProductButton' : 'home.newProductButtonCreate') | translate }}</button>
    </div>
</div>